<%if current_user%>
<%= link_to("Add a New Post!", posts_new_path) %>
<%end%>

<h1>MyReddit Postings</h1>

<ul class="posts">
  <% @posts.each do |post| %>
      <li class="post">
        <%= render partial: "post", locals: { post: post } %>
        <% if current_user%>
        <%= link_to("Edit Post", edit_post_path(post)) %>
        <%= link_to("Delete Post", post_path(post), method: :delete) %>
        <% end %>
      </li>
      <h2 class="comment-title">
        <%=link_to_unless_current("Add a Comment",post_path(post))%></h2>
        <div class="comments">
          <% post.comments.each do |comment| %>
              <div class="post-comment">
                  <%= simple_format(comment.body) %>
              </div>
          <% end %>
        </div>
  <% end %>
</ul>
