<%if current_user%>
<%= link_to("Add a New Post!", posts_new_path) %>
<%end%>

<h1>MyReddit Postings</h1>

<ul class="posts">
  <% @posts.each do |post| %>
      <li class="post">
        <%= render partial: "post", locals: { post: post } %>
        <% if current_user && current_user.id == post.user.id%>
        <%= link_to("Edit Post", edit_post_path(post)) %>
        <%= link_to("Delete Post", post_path(post), method: :delete) %>
        <% end %>
      </li>
      <ul class="comment-title">
        <%if current_user%>
        <%=link_to_unless_current("Add a Comment",post_path(post))%>
        <%end%></ul>
        <div class="comments">
          <% post.comments.each do |comment| %>
              <li class="post-comment">
                  <%= simple_format(comment.body) %>
                  <%if current_user && current_user.id == comment.user_id%>
                  <%=link_to("Delete",comment_path(post, comment), method: :delete)%>
                  <%end%>
              </li>
          <% end %>
        </div>
  <% end %>
</ul>
