<%=  form_tag(posts_path) do %>
    <div class="post-field">
        <%= label_tag("Title: ") %> <br/>
        <%= text_field_tag("title", @post.title) %>
    </div>

    <div class="post-field">
        <%= label_tag("Url: ") %> <br/>
        <%= text_area_tag("link", @post.content) %>
    </div>

    <%= button_tag("Create Post!") %>
<% end %>
