<!DOCTYPE html>
<html>
<head>
  <title>Myreddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
      <div class="nav-wrapper">
        <a href="" class="brand-logo center">MyReddit</a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if current_user %>
            <h4>Hi there, <%= current_user.first_name %>!</h4>
            <h4><%= link_to("Logout", login_path, method: :delete) %></h4>
            <% else %>
            <h4><%= link_to("Signup", new_signup_path) %><h4>
            <h4><%= link_to("Login", login_path) %></h4>
            <% end %>
        </ul>
      </div>
    </nav>

  <% if flash[:notice] %>
      <h3 class="alert"><%= flash[:notice] %></h3>
  <% end %>

<%= yield %>

</body>
</html>
